body {
    padding: 0px;
    margin: 0px;
    background-color: #dbd9eb;
}

.navbar{
    border-radius: 0px!important;
}

.container{
    padding: 0px;
}

.iconHeader{
    width: 83px;
}

.fa {
    font-size: 17px;
}

.navbar{
    margin-bottom: 0px;
}

input{
    width: 150px!important;
    height: 30px!important;
    margin-bottom: -10px;
}

fieldset input{
    width: 200px!important;   
}

input[type = 'checkbox']{
    width: 15px!important;
    height: 15px!important;
}
input[type = 'radio']{
    width: 15px!important;
    height: 15px!important;
}

select{
    width: 150px!important;
    height: 30px!important;
    margin-bottom: -10px;
}

fieldset select{
    width: 200px!important;   
}

#add{
    position: relative;
    display: block;
    float: right;
    margin-top: 28px;
}

#submit_busca_simples{
    margin-left: 8px;
    margin-top: 28px;
}

#containerPage{
    position: relative;
    display: block;
    min-height: 45px;
    background-color: white;
    margin-top: 10px;
    border: 1px solid #222;
    border-radius: 4px 4px 0px 0px;
}

#containerPageBody{
    margin-bottom: 50px;
    position: relative;
    display: block;
    min-height: 45px;
    background-color: white;
    margin-top: 5px;
    border: 1px solid #222;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 2px 2px 5px #777;
    padding: 10px;
    
}

label{
    color: #222;
    font-size: 12px;
    font-weight: 400;
}

.busca-simples-header{
    position: relative;
    display: block;
    background-color: #222;
    border: 2px solid #222;
    border-radius: 2px 0px 0px 0px;
    color: #9d9d9d;
    
}

#busca-simples{
    padding: 15px;
    box-shadow: 2px 2px 5px #777;
}

#p {
    margin-top: 8px;
    margin-left: 8px;
    float: left;
    display: inlineblock
}

legend {
    border-bottom: 0px !important;
    padding-top: 5px;
    color: #222;
}

fieldset{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 1px solid #dbd9eb;
    border-radius: 4px;
    padding: 10px;
}

fieldset fieldset{
    background-color: white;
    width: 200px;
}

.fa{
   cursor: pointer;
   width: 18px!important;
   padding-right: 5px;
}

a{
    color: #222;
}

a:hover{
    color: #0086b3;
}

th{
    padding: 0px!important;
}

footer{
    padding-top: 40px;
    position: fixed;
    bottom: 0px;
    background-color: whitesmoke;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    border-top: 2px solid #222;
    font-size: 12px;
}
